.sc-hGPAah.dmOeOm {
  max-height: 330px;
  display: block !important;
  overflow: auto;
}
.enchanced .sc-hGPAah.dmOeOm {
  display: block !important;
  overflow: auto;
  max-height: 75vh;
}

.rdt_TableHead {
  position: sticky !important;
  z-index: 999 !important;
  top: 0;
}

.jMdbjj {
  text-align: start;
  text-indent: 15px;
}
