.cardContainer {
  height: 450px;
  display: flex;
}

.cardFront {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.cardFront ul.MuiList-root.MuiList-padding {
  height: 100%;
  overflow-y: auto;
}

.cardBack {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  flex-direction: column;
  justify-content: start;
}
